/* font web-site */
@font-face {
  font-family: "b kourosh";
  src: url(../font/B\ Kourosh_0.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b mehr";
  src: url(../font/B\ Mehr.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b narm";
  src: url(../font/B\ Narm.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b roya";
  src: url(../font/B\ Roya_0.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b sahar";
  src: url(../font/B\ Sahar_0.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b sina";
  src: url(../font/B\ Sina\ Bold_0.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b titr";
  src: url(../font/B\ Titr\ Bold_0.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "b yas";
  src: url(../font/B\ Yas_0.ttf);
  font-weight: normal;
}

/* css varable */
:root {
  --color-body: #fff;
  --color-white: #fff;
  --color-black: #000;
}
.dark-them {
  --color-body: #0000008c;
  --color-white: #000000;
  --color-black: #ffffff;
}
/* css style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: all 0.3s;
  background-color: var(--color-body);
}
/* ##### style header ##### */

.header-top {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: b sina;
  color: var(--color-white);
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#5e1c65, #ff00cc);
}
.header-title {
  animation: txt-header 1s infinite alternate;
}
.header-logo {
  position: absolute;
  left: 20px;
  font-family: b narm;
}

.menu {
  width: 100% !important;
  padding: 15px 0 8px 0;
  z-index: 9999;
}

.hr {
  margin-bottom: 10px;
  background-color: rgb(255, 237, 237);
}
.btn-close {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(146, 64, 105);
  display: none;
  margin: 0 auto;
  margin-bottom: 10px;
}
.icon {
  position: relative;
  top: 43%;
  border-radius: 5px;
  width: 27px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  transition: all 0.2s;
}
.icon::after,
.icon::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  border-radius: 5px;
  transition: all 0.4s;
}
.icon::after {
  top: -10px;
  left: -3px;
  width: 32px;
}
.icon::before {
  top: 10px;
  right: 3.5px;
  width: 20px;
}
.open {
  background-color: transparent;
}
.open::after {
  top: 0px;
  left: 0;
  transform: rotate(45deg);
  width: 27px;
}
.open::before {
  width: 27px;
  right: 0;
  top: 0px;
  transform: rotate(-45deg);
}
.wrapper-items {
  display: flex;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  font-family: b yas;
  font-size: 18px;
}
.menu-link {
  margin: 0 5px;
  color: var(--color-black);
  position: relative;
}
.menu-link::after {
  position: absolute;
  top: 25px;
  right: 0px;
  content: "";
  width: 0px;
  height: 3px;
  background-color: #5e1c65;
  border-radius: 10px;
  transition: all 0.3s;
}
.menu-link:hover::after {
  width: 100%;
}
.menu-link:hover {
  text-shadow: 0 0 5px #ff00cc;
}
.wrapper-menu {
  display: flex;
  border: 1px solid #ef0097;
  position: relative;
}
.wrapper-menu {
  padding-bottom: 10px;
}

.back::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: #77005b;
  transform: rotate(10deg);
}
.item {
  width: 100%;
  height: 470px !important;
}
.item > img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* header Aanimation text */
@keyframes txt-header {
  0% {
    color: aqua;
  }
  25% {
    color: greenyellow;
  }
  50% {
    color: yellow;
  }
  75% {
    color: orange;
  }
  100% {
    color: white;
  }
}

/* main styles */

/* section 1 music player */

.section-title {
  margin: 20px auto;
  text-align: center;
  position: relative;
  width: 180px;
  font-family: b sahar;
  font-size: 20px;
  border-radius: 5px;
}
.section-title::after,
.section-title::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: rgb(134, 127, 127);
  top: 50%;
}
.section-title::after {
  right: 0;
}
.section-title::before {
  left: 0;
}
.music-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  font-family: b yas;
  color: var(--color-black);
  padding: 10px;
  font-size: 18px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgb(0, 255, 115);
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}
.music-title {
  margin-bottom: 15px;
}
.music-title-mood {
  position: relative;
  margin-right: 20px;
}
.music-title-mood::before,
.music-title-mood::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #99998e;
  border-radius: 50%;
  top: 35%;
  right: -15px;
}
.music-title-mood::after {
  top: 50%;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  right: 40px;
}
.music-title-qulity {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;
}
.qulity-icon {
  position: absolute;
  left: 20px;
  top: 15%;
}
.icon-star {
  width: 20px;
  height: 20px;
}

.music-content {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px black;
  text-align: center;
  padding: 10px 15px;
  border-radius: 50% 30% / 10% 50%;
}
.music-name {
  font-size: 5px;
  margin-bottom: 4px;
}
.music-logo {
  width: 80%;
  height: 100px;
  border-radius: 10%;
  background-position: center center;
  background-size: cover;
  border: 2px solid rebeccapurple;
  box-shadow: 0 0 10px rebeccapurple;
}
.audioplayer {
  margin: 0;
}
.audioplayer-bar {
  width: 60%;
  margin: 0 auto;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-qulity {
  margin: 5px;
  line-height: 10px;
  cursor: pointer;
}
.icon-star-form {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  transition: all 0.3s;
}
.star-active {
  background-image: linear-gradient(
    to top,
    rgb(255, 230, 0),
    rgb(255, 145, 0),
    red
  );
}
.form-btn {
  line-height: 10px;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 100%;
  font-weight: bold;
  box-shadow: inset 0 0 5px black;
  cursor: pointer;
  transition: all 0.3s;
}
.form-btn:hover {
  color: #fff;
  background-color: rgb(36, 117, 36);
}

/* style nazarat */

.nazarat .owl-nav span {
  display: none;
}
.slider-nazrat1 .owl-stage-outer {
  width: 90%;
  margin: 0 auto;
}
.wrapper-nazarat {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.nazarat-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.nazart-text {
  font-size: 12px;
  margin-right: 12px;
}
.nazart-text::before {
  position: absolute;
  right: 10px;
  top: 18px;
  content: "";
  width: 20px;
  height: 5px;
  background-color: #500a4c;
  border-top-left-radius: 10px;
}
.porfile {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.comment {
  font-family: b vazir;
  font-size: 10px;
  border: 1px solid black;
  background-color: #fff;
  padding: 5px;
  margin: 7px auto;
  width: 80%;
  border-radius: 5px;
}
.icon-star2 {
  width: 10px;
  height: 10px;
}

/* tablighat */

.tablighat {
  margin: 0 auto;
  width: 80%;
}
.wrapper-t {
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}
.item-t {
  line-height: 150px;
  width: 200px;
  height: 150px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* about-us */

.about-us {
  width: 50%;
  margin: 80px auto;
  font-family: b sina;
  font-size: 14px;
}
.wrapper-about {
  background-color: var(--color-white);
  box-shadow: 0 0 5px aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 25px;
}
.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.about-img {
  border-radius: 50%;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.about-right {
  text-align: center;
  margin: 0 auto;
  width: 40%;
}

.about-right img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  margin-top: 10px;
  transition: all 0.3s;
}
.about-right img:hover {
  transform: scale(1.1);
  filter: sepia(50%);
}
.about-text,
.about-title {
  color: var(--color-black);
}

/* footer */
#footer {
  background-color: #6e1b42;
  padding: 20px;
}
.wrapper-footer {
  margin-top: 20px;
  position: relative;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  text-align: center;
  width: 100%;
}
.footer-links > li {
  position: relative;
}
.footer-links > li::after {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #059da8;
}
.footer-link {
  font-size: 14px;
  font-family: b mehr;
  color: rgb(145, 105, 255);
  transition: all 0.3s;
}
.klid {
  color: #e0f4ff;
  font-size: 20px;
  font-family: b narm;
}
.footer-link li:hover {
  transform: scale(1.1);
  color: #fff;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom img {
  margin: 0 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.footer-bottom img:hover {
  transform: scale(1.1);
}
.text-footer {
  font-family: b narm;
  margin: 20px 0 10px 0;
  color: #e4f7ff;
  font-size: 20px;
}
.copy-right {
  text-align: center;
  font-family: b titr;
  font-size: 14px;
  width: 100%;
  background-color: #ccc;
  padding: 4px 0;
}
.copy-right span {
  color: rebeccapurple;
  font-family: b narm;
  font-size: 20px;
}
.dark {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: block;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../image/Month.png");
  background-size: cover;
  background-position: center center;
  transition: all 0.2s ease;
  background-color: #fff8f8;
  padding: 5px;
}
.light {
  background-image: url("../image/sun.png");
}
